html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    /* height: 612px; */
    background: #ffffff;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 375px;
    height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #c6c6c6;
    box-sizing: border-box;
}

.logo {
    width: 127px;
    height: 33.02px;
    
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50px;
}

.user-info {
    display: flex;
    width: 375px;
    /* height: 34px; */
    align-items: center;
    gap: 7px;
    padding: 10px;
    /* border: 1px red solid; */
}

.user-full--name {
    font-size: 13px;
    /* line-height: 16.34px; */
    font-weight: 700;
    margin: 0;
}

.location-text {
    font-size: 9px;
    /* line-height: 15.08px; */
    font-weight: 400;
    margin: 0;
}

.post-image--container {
    width: 375px;
    height: 375px;
    /* border: 1px solid red; */
}

.post-image {
    width: 100%;
    height:100%;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 375px;
    height: 70px;
    padding: 20px 0;

}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 104.34px;
    height: 22.13px;
    padding: 0 10px;
    /* border: 1px solid red; */
}

.icon {
    width: 23.3px;
    height: 18.65px;
}

.icon:hover,
.icon:focus {
    width: 28px;
    height: 23px;
}

.likes {
    box-sizing: border-box;
    width: 375px;
    height: 16px;
    line-height: 16.34px;
    font-size: 13px;
    font-weight: 700;
    padding: 0 10px;
    margin: 0;
    /* border: 1px solid red; */
}

.username-caption {
    /* border: 1px solid black; */
    height: 16px;
    line-height: 16.34px;
    font-weight: 700;
    font-size: 13px;
    padding: 0 10px;
    margin: 0;
}

.spacing {
    width: 375px;
    height: 15px;
    background: rgba(128, 128, 128, 0.2)
}
